:host
    display: flex
    height: 100%
    width: 100%
    
.account-list-container
    display: flex
    flex-direction: column
    height: 100%
    padding: 1rem
    width: 100%
    h1
        margin: 0

.header
    align-items: center
    display: flex
    height: 5%
    width: 100%
    .actions
        margin-left: auto
        button
            margin-left: 0.4rem

.content
    display: flex
    height: 95%
    padding: 1rem 0
    width: 100%

.loading-message
    font-weight: bold
    text-align: center
    text-transform: uppercase
    width: 100%
    

.flag
    border-radius: 15px
    display: flex
    height: 5px
    width: 5px
.active-flag
    box-shadow: 0 0 3px 5px var(--mat-sys-primary)
    background: var(--mat-sys-primary)
.inactive-flag
    box-shadow: 0 0 3px 5px red
    background: red