:host
    display: flex
    width: 100%
    
.table-container
    display: flex
    flex-direction: column
    height: 100%
    width: 100%

.mat-cell--styles
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center

.mat-header-cell-first, .mat-header-cell-first .mat-sort-header-content
    text-align: center

.mat-header-cell-first
    max-width: 50px
    justify-content: center

.empty-message
    text-align: center
    font-weight: bold