<div class="expenses-container">
    <div class="modal-header">
        <h2>Transaction</h2>

        <mat-icon (click)="this.close()" class="close-icon">close</mat-icon>
    </div>

    <div class="modal-body" [formGroup]="transactionForm">
        <div class="two-column-row">
            <div>
                <p>Type</p>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="transaction_type_id">
                        @for (type of transactionTypes; track type) {
                            <mat-option [value]="type.id">{{type.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <p>Choose the date</p>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="datepicker" formControlName="date"/>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        
        <p>Enter the amount</p>
        <mat-form-field appearance="outline">
            <input
                matInput
                formControlName="amount"
                (blur)="formatAmount()"
            />
        </mat-form-field>

        <p>Enter the description</p>
        <mat-form-field appearance="outline">
            <textarea 
                matInput
                formControlName="description"
                (blur)="formatAmount()"
            ></textarea>
        </mat-form-field>

        <div class="two-column-row">
            <div>
                <p>source account</p>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="source_account_id">
                        @for (account of accounts; track account) {
                            <mat-option [value]="account.id">{{account.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            @if(showDestinationAccount) {
                <div>
                    <p>destination account</p>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="destination_account_id">
                            @for (account of accounts; track account) {
                                <mat-option [value]="account.id">{{account.name}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            }
        </div>
    </div>

    <mat-divider></mat-divider>
    
    <div class="modal-footer">
        
        <div class="modal-actions">
            <button mat-raised-button color="secondary" (click)="this.close()">Cancel</button>
            <button mat-raised-button color="primary" (click)="saveTransaction()">Save</button>
        </div>
    </div>
</div>