*
    margin: 0
    padding: 0
    box-sizing: border-box

.app-container
    display: flex
    flex-direction: column
    height: 100%
    width: 100%

.navbar-header
    align-items: center
    display: flex
    flex-direction: row
    height: 5%
    width: 100%

.app-content
    display: flex
    height: 95%
    width: 100%