<div class="expenses-container">
    <div class="modal-header">
        <h2>Account</h2>

        <mat-icon 
            (click)="this.close()"
            (keydown.enter)="this.close()"
            class="close-icon"
        >close</mat-icon>
    </div>

    <div class="modal-body" [formGroup]="accountForm">
        <p>Creation date</p>
        <mat-form-field appearance="outline">
            <mat-label>date</mat-label>
            <input matInput [matDatepicker]="datepicker" formControlName="created_at"/>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>

        <p>Enter the name</p>
        <mat-form-field appearance="outline">
            <input 
                matInput
                formControlName="name"
            />
        </mat-form-field>

        <p>Type</p>
        <mat-radio-group
            formControlName="type_id">
            @for (type of accountTypes; track type) {
                <mat-radio-button [value]="type.id">{{type.name}}</mat-radio-button>
            }
        </mat-radio-group>

        <p>Enter the currency</p>
        <mat-form-field appearance="outline">
            <mat-label>Choose a currency</mat-label>
            <mat-select formControlName="currency_code">
                @for (currency of currencies; track currency) {
                    <mat-option [value]="currency.code">{{currency.name}} [{{currency.code}}]</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <p>Enter the initial balance</p>
        <mat-form-field appearance="outline">
            <input 
                matInput
                formControlName="initial_balance"
                (blur)="formatAmount()"
            />
        </mat-form-field>

        <p>Enter the description</p>
        <mat-form-field appearance="outline">
            <textarea 
                matInput
                formControlName="description"
            ></textarea>
        </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    
    <div class="modal-footer">
        <div class="modal-actions">
            <button mat-raised-button color="secondary" (click)="this.close()">Cancel</button>
            <button mat-raised-button color="primary" (click)="saveAccount()">Save</button>
        </div>
    </div>
</div>