.expenses-container
    background: var(--mat-sys-surface)
    color: var(--mat-sys-on-surface)
    display: flex
    flex-direction: column
    height: 100%
    overflow-y: auto
    width: 100%

.modal-header
    align-items: center
    background: var(--mat-sys-primary)
    color: var(--mat-sys-on-primary)
    display: flex
    flex-direction: row
    height: 7%
    justify-content: space-between
    padding: 0 1rem
    width: 100%
    h2
        margin: 0

.close-icon
    cursor: pointer

.modal-body
    display: flex
    flex-direction: column
    gap: 0.5rem
    height: 85%
    padding: 1rem
    width: 100%
    p
        margin: 0

.modal-footer
    display: flex
    flex-direction: column
    gap: 0.5rem
    height: 8%
    justify-content: center
    width: 100%

.modal-actions
    display: flex
    flex-direction: row
    justify-content: flex-end
    padding: 0 1rem
    width: 100%