<div class="expenses-container">
    <div class="modal-header">
        <h2>Account Type</h2>

        <mat-icon (click)="dialogRef.close()" class="close-icon">close</mat-icon>
    </div>

    <div class="modal-body" [formGroup]="transactionTypeForm">
       <p>Enter the name</p>
        <mat-form-field appearance="outline">
            <input 
                matInput
                formControlName="name"
                placeholder="expense, income, etc"
            />
        </mat-form-field>

        <p>Enter the description</p>
        <mat-form-field appearance="outline">
            <textarea 
                matInput
                formControlName="description"
                placeholder="money that leaves an account"
            ></textarea>
        </mat-form-field> 
    </div>
    
    <mat-divider></mat-divider>

    <div class="modal-footer">
        
        <div class="modal-actions">
            <button mat-raised-button color="secondary" (click)="dialogRef.close()">Cancel</button>
            <button mat-raised-button color="primary" (click)="saveTransactionType()">Save</button>
        </div>
    </div>
</div>